html, body {
    height: 100%;
    min-height: 100%;
}

.wrapper {
    background-image: linear-gradient(to left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow-y:scroll;
}

#frmRegisterAd, #frmRegisterPub {
    display: none;
    /* visibility: hidden; */
}

.region-login {
    padding-top: 5%;
  
}

.btn-search {
    margin-left: 5px;
    margin-right: 2px;
}

.loader {
    width: 15%;
    height: 20%;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -5%;
    margin-top: -10%;
    z-index: 99999999999999;
    display: none;
    overflow: hidden;
}

.loader-icon {
    font-size: 66px;
    color: black;
    position: absolute;
    top: 40%;
    left: 45%;
}

span.xoay {
    animation-name: quay;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes quay {
    from {
       
                transform: rotate(0deg);
    }
    to {
       
                transform: rotate(360deg);
    }
}

.dropdown-menu-right {
    right: -120px !important;
}       

.dropdown-menu {
    min-width: 20rem !important;
}